*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.sport{
    position:absolute;
    top:10%;
    left:150px
}
.Technology{
    position:absolute;
    top:10%;
}
.Entertainment{
    position:absolute;
    top:10%;
    left:263px
}
.container{
    position:absolute;
    top: 15%;
}